@model IEnumerable<InTouch_WEBClient.Models.ProfessorSubjects>
@{
    ViewBag.Title = "GetProfessors";
    Layout = null;
}

<header></header>
<content>
    @foreach (var item in Model.ToList())
    {
        <div>
            <h4>
                Ф.И.О.:
                <span>
                    @item.Professor.Surname
                </span>
                <span>
                    @item.Professor.Name
                </span>
                <span>
                    @item.Professor.Patronymic
                </span>
            </h4>
            <p>
                Университет: @item.University.Name
            </p>
            <div class="">
                <span>
                    Предметы @item.Subjects.Count():
                </span>
                <ul>
                    @foreach (var subject in item.Subjects)
                    {
                        <li>@subject.Subjects.Name</li>
                    }
                </ul>
            </div>
            <div class="">
                <span>
                    Тесты: (@item.Professor.Tests.Count()):
                </span>
                <ul>
                    @foreach (var test in item.Professor.Tests)
                    {
                        <li>
                            <b>Название: @test.Name</b>
                            <p>Предмет: @test.Subjects.Name</p>
                            <p>
                                <label>Дата начала: @test.Date_start</label>
                                <label>Дата окончания: @test.Date_end</label>
                            </p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</content>
<footer></footer>



